# IDE
.vscode

# Cache
__pycache__/

# Distribution / packaging
develop-eggs/
eggs/
.eggs/
share/python-wheels/
*.egg-info/
*.egg
.pytest_cache/

# Logging and miscellaneous extensions
*.txt
*.png
*.pickle
*.pth
*.json
logs/

reproduction/RL_CARLA/carla_RL_IAs
reproduction/RL_CARLA/model_RL_IAs_only_town01_train_weather
reproduction/RL_CARLA/CARLA_0.9.6.tar.gz
reproduction/RL_CARLA/model_RL_IAs_only_town01_train_weather.zip